<h3>Edit</h3>
<%= link_to 'preview', preview_photos_path %>
<ul class="list">
  <span id="photos_container">
  <%= render :partial => 'photo', :collection => @photos %>
  </span>
  <%= render :partial => 'photo',  :locals => { :photo => Photo.new } %>
</ul>